DATABASE_URL="file:./dev.db"
JWT_SECRET="super-secret"
ALLOWED_ORIGINS="http://localhost:5173,http://localhost:3000"

CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
